body {
	max-width: 960px;
}

a {
	text-decoration: none;
}

h1 a, a:visited {
    background-color: black;
    color: white;
}

nav a, nav a:visited {
	color: gray;
}

nav ul li {
	text-decoration: none;
	list-style: none;
	display: inline;
}